@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Roboto";
}

section {
  border: 1px solid transparent;
  width: 100%;
}

.home-section {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 6.6em;
  background-color: #000000;
}
.header-wrapper {
  width: 100%;
  height: 1vh;
  position: fixed;
  background-color: transparent;
  z-index: 9999;
  top: 0;
  padding-bottom: 6em;
}
.headerChangeColor {
  background-color: #000000be;
}
.inner-header-wrapper {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding-top: 5px;
  display: flex;
}
.logo img {
  max-width: 100%;
  height: 80px;
  position: relative;
  z-index: 9999;
}
.logo a {
  position: relative;
  z-index: 9999;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-family: "Akaya Telivigala", cursive;
}
.logo h2 {
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  float: right;
  margin-left: 10px;
  margin-top: 25px;
}
.inner-header-wrapper .top-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.inner-header-wrapper .top-nav ul li {
  list-style: none;
}
.inner-header-wrapper .top-nav ul li a {
  text-decoration: none;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 1.5px;
  margin: 0 15px;
  color: #fff;
  display: block;
  text-transform: uppercase;
  /* font-weight: bold; */
}
.inner-header-wrapper .top-nav .mobile-link {
  display: none;
}
.nav-btn-sell-buy {
  margin-top: 13px;
}
.nav-btn-sell-buy a {
  background: linear-gradient(270deg, #f1aa4e 0%, #f1aa4e 100%);
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #212540;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-btn-sell-buy a:hover {
  background: linear-gradient(270deg, #3a353f 0%, #f1aa4e 100%);
  transition: 0.5s;
}
.inner-header-wrapper .top-nav ul li a:hover,
.inner-header-wrapper .top-nav ul li a.active {
  color: rgb(212, 209, 209);
  font-weight: bold;
}
.mobile-toggle {
  display: none;
  cursor: pointer;
  height: 33px;
  position: relative;
  z-index: 9999;
}
/* .headerChangeColor .mobile-toggle div{
  background-color: #fff;
} */

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8x, -6px);
  transform: rotate(45deg) translate(-8px, -6px);
}

.inner-home-container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.inner-home-container h2 {
  font-size: 50px;
  letter-spacing: 3px;
  color: #000;
  text-transform: uppercase;
  color: #fff;
}
.inner-home-container p {
  font-size: 30px;
  color: #fff;
}
.big-img-logo img {
  max-width: 100%;
  height: 50vh;
}
.telegram-link {
  margin-top: 30px;
}
.telegram-link a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: #3e45ad;
  color: #fff;
  margin: 10px;
}
.telegram-link a:hover {
  background-color: #3e45adc5;
  transition: 0.5;
}
.footer-container {
  background-color: #212540;
  color: #fff;
}

.top-footer-container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footer-logo img {
  height: 70px;
}
.left-footer,
.middle-footer,
.right-footer {
  min-height: 5vh;
}
.left-footer {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 20px;
}
.left-footer-article h2 {
  font-size: 15px;
  font-weight: 300;
}
.middle-footer {
  width: 100%;
  border-left: 1px solid rgba(197, 195, 195, 0.13);
  padding: 20px;
}
.footer-links ul li {
  list-style: none;
  margin-top: 10px;
}
.footer-links ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.footer-links ul li a:hover {
  text-decoration: underline;
  font-weight: bold;
}
.right-footer {
  width: 100%;
  border-left: 1px solid rgba(197, 195, 195, 0.13);
}
.bottom-footer-container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  text-align: center;
  border-top: 1px solid rgba(197, 195, 195, 0.13);
  padding-top: 10px;
  padding-bottom: 10px;
}
